# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# Encryption Keys
secret.key
backend/secret.key

# VS Code
.vscode/

# React
node_modules/

# Logs
*.log

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db